body {
    font-family: "Gandhi", Futura, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: #f58718;
    cursor: pointer;
}
a:hover {
    background-color: #f58718;
    color: #000;
}

h2 {
    font-weight: bold;
    color: #f58719;
    font-size: 24px;
}
h3 {
    font-weight: bold;
    color: #f58719;
    font-size: 22px;
}
code {
    display: block;
    padding: 16px 24px;
    width: auto;
    background: rgba(245,135,24,0.15);
}
.wrapper {
    width: 95%;
    max-width: 940px;
    margin: auto;
    flex: 1 0;
}
div.logo {
    background: #f58718;
    padding: 20px 20px;
    text-align: center;
}
img.logo {
    max-width: 500px;
    display: block;
    margin: 20px auto 20px;
}

footer {
    border-top: 2px solid black;
    margin-top: 30px;
    text-align: center;
    padding: 10px 0;
    background: #222;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 1px;
    font-weight: bold;
}
footer a:hover {
    color: #f58718;
    background: transparent;
}
/********* Begin Header ****************/
header {
    background: #222;
    margin-bottom: 30px;
}

header.subnav {
    background: #444;
    margin-bottom: 30px;
    margin-top: -30px;
}
.site-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.subnav .site-navigation {
    justify-content: flex-start;
}

.site-navigation > li.menu-item {
    display: block;
    margin: 0;
    flex-grow: 0;
    text-align: left;
    position: relative;
    padding: 0;
}
.site-navigation > li.menu-item > a {
    padding: 0 8px;
}
.site-navigation > li > ul {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 36px;
    padding: 0;
    min-width: 100%;
    z-index: 200;
}
.site-navigation > li > ul > li {
    display: none;
    padding: 0 8px;
    background-color: #f58718;
    color: #fff;
}
.site-navigation > li > ul > li > a {
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
}
.site-navigation > li:hover > ul > li:hover {
    background-color: #d17314;
}
.site-navigation > li:hover > ul > li:hover > a {
    color: #000;
    background-color: #d17314;
}
.site-navigation > li:hover > ul > li {
    display: block;
}
.site-navigation > li > ul:hover > li {
    display: block;
}
.site-navigation > li.current {
    color: #f58718;
}
.site-navigation > li.has-dropdown.current {
    background: #444;
}
.site-navigation > li.has-dropdown.current:hover,
.site-navigation > li.has-dropdown.current:hover a {
    background-color: #f58718;
    color: #333;
}
.site-navigation > li.current > a {
    color: #f58718;
}
.site-navigation > li.current:hover > a {
    color: #000;
}
.site-navigation > li.has-dropdown > a {
    padding-right: 0;
}
.site-navigation > li.has-dropdown::after {
    content: '⌄';
    font-weight: bold;
    font-size: 24px;
    vertical-align: top;
    line-height: 1;
    color: #eee;
    padding-right: 8px;
}
.site-navigation > li.has-dropdown.current::after {
    color: #f58718;
}
.site-navigation > li a {
    font-weight: bold;
    color: #eee;
    text-decoration: none;
    line-height: 36px;
    cursor: pointer;
}
.site-navigation > li:hover {
    background-color: #f58718;
}
.site-navigation > li:hover::after,
.site-navigation > li.has-dropdown.current:hover::after,
.site-navigation > li:hover a  {
    color: #333;
}
/********* End Header ******************/
/********* Begin Timeline **************/
.timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  list-style: none;
}
.timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  margin-left: -2px;
  background: #000;
}
.timeline li {
  position: relative;
  margin: 10px 0;
}
.timeline li .timeline-bubble {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #f58718;
  margin-left: -12px;
  margin-top: -12px;
}
.timeline li::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.timeline li:first-child {
  margin-top: 0;
}
.timeline li:last-child {
  margin-bottom: 0;
}
.timeline li .timeline-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  max-width: 320px;
  margin-left: 60px;
  background: rgba(245,135,24,0.05);
  border: 1px solid #f58718;
  border-top: 3px solid #f58718;
  padding: 1em;
}
.timeline li:nth-child(2n) .timeline-content {
  margin-left: -420px;
}
.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-content .date, .timeline-content .heading {
  float: left;
  padding: .8em 0;
  opacity: .6;
}
.timeline-content .heading {
  opacity: 1;
  margin-left: 4px;
}
/********* End Timeline ****************/


/********* Information page ************/
.information-buttons {
  display: flex;
  flex-direction: row;
}
.information-buttons .information {
  border: 3px solid #f58718;
  display: block;
  flex-grow: 1;
  padding: 20px 50px;
  margin: 8px;
  text-align: center;
}
.information-buttons .information:hover {
    color: white;
}
.information-buttons .information:first-child {
    margin-left: 0;
}
.information-buttons .information:last-child {
    margin-right: 0;
}
/********* End Information page ******/

/********* Blog page **********/
.blogpost {
  border: 1px solid #ccc;
  padding: 16px 32px;
  color: #333;
  font-weight: normal;
}
.blogpost:hover {
  background-color: #fff3d3;
}
.blogpost .title {
  color: #f58718;
  font-weight: bold;
}
.date {
  font-size: 14px;
  color: #888;
}
/********* End Blog page ******/

/********* Front page ******/
.frontpage-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -15px;
}
.frontpage-row .cell-container {
    flex: 1 0 auto;
    width: 50%;
    box-sizing: border-box;
    align-self: stretch;
    padding: 15px;
    min-height: 150px;
}
.frontpage-row .cell-container .cell {
    border: 3px solid #f58718;
    height: 100%;
    display: block;
    box-sizing: border-box;
    color: #444;
    font-weight: normal;
}
.frontpage-row .cell-container .cell:hover {
    background: #f58718;
}
.frontpage-row .cell-container .cell .cell-textcontent {
    padding: 15px;
    box-sizing: border-box;
}
.frontpage-row .cell-right-photo .cell-photo {
    float: right;
}
.frontpage-row .cell-right-photo .cell-textcontent {
    margin-right: 200px;
}
.frontpage-row .cell h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.frontpage-row .cell:hover {
    color: white;
}
.frontpage-row .cell:hover h3 {
    color: white;
}
.clear {
    clear: both;
}
.newsletter input {
    display: block;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}
.newsletter button {
    float: right;
    margin-top: 10px;
    padding: 5px 10px;
    background: white;
    border: 3px solid transparent;
    color: #f58718;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
/********* End front page ******/

/********* Responsiveness **************/
@media screen and (max-width: 940px) {
  img.logo {height: 150px;}
  .wrapper {width: 90%;}
  .information-buttons {flex-wrap: wrap;}
    header h1 {
        display: block;
        font-size: 20px;
        margin: 30px 10px 0 10px;
    }
    header .dateline {
        font-size: 15px;
    }
    .container {
        margin: 0 10px;
    }
    .site-navigation {
        flex-wrap: wrap;
    }
    .site-navigation > li.separator {
        display: none;
        border: 0;
    }
    .site-navigation > li.menu-item {
        width: 40%;
        flex-grow: 1;
        text-align: center;
    }
  .timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .timeline::before {
    left: 20px;
    margin-left: -2px;
  }
  .timeline li .timeline-bubble {
    left: 20px;
  }
  .timeline li:first-child {
    margin-top: 0;
  }
  .timeline li:last-child {
    margin-bottom: 0;
  }
  .timeline li .timeline-content {
    left: 30px;
    margin-left: 20px;
    width: 80%;
    padding: 2px 8px;
  }
  .timeline li:nth-child(2n) .timeline-content {
    margin-left: 20px;
  }
  .timeline-content .date, .timeline-content .heading {
    padding: .2em 0;
  }
  .frontpage-row .cell-container {
      width: 100%;
  }
}
@media screen and (max-width: 750px) {
  img.logo {height: 90px;}
}
@media screen and (max-width: 370px) {
  img.logo {height: 70px;}
}
