body {
    font-family: Futura, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: #f58718;
}
a:hover {
    background-color: #f58718;
    color: #000;
}
#wrapper {
    width: 95%;
    max-width: 940px;
    margin: auto;
}
.logo {
    background: #f58718;
}

header {
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 30px;
}

img.logo {
  max-width: 940px;
  display: block;
  margin: auto;
}

footer {
    border-top: 2px solid black;
    margin-top: 30px;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: black;
    text-decoration: none;
    padding: 1px;
}
footer a:hover {
    background-color: #f58718;
}
#site-navigation {
    list-style: none;
    padding: 0;
    margin: 0 0 2px 0;
    display: flex;
    justify-content: space-between;
}

#site-navigation > li.menu-item {
    display: block;
    padding: 0;
    margin: 5px 0;
    flex-grow: 0;
    text-align: left;
}
#site-navigation > li > ul {
    position: absolute;
    display: inline-block;
    padding: 12px;
}
#site-navigation > li > ul > li {
    display: none;
    padding: 5px;
    background-color: #f58718;
    border-bottom: 1px solid #fff;
    color: #fff;
}
#site-navigation > li > ul > li > a {
    color: #fff;
}
#site-navigation > li:hover > ul > li:hover > a {
    color: #000;
}
#site-navigation > li:hover > ul > li {
    display: block;
}
#site-navigation > li > ul:hover > li {
    display: block;
}
#site-navigation > li.current a {
    color: #f58718;
}
#site-navigation > li.current:hover a {
    color: #000;
}
#site-navigation > li.separator {
    display: block;
    flex-grow: 1;
    width: 1px;
    padding: 0 5px;
    margin: 5px 0;
    font-weight: bold;
    text-align: center;
}
#site-navigation > li.separator:last-child {
    display: none;
}
#site-navigation > li a {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
#site-navigation > li a:hover {
    background-color: #f58718;
}

h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 22px;
}
h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}
@media(max-width: 940px) {
    header h1 {
        display: block;
        font-size: 20px;
        margin: 30px 10px 0 10px;
    }
    header .dateline {
        font-size: 15px;
    }
    .container {
        margin: 0 10px;
    }
    #site-navigation {
        flex-wrap: wrap;
    }
    #site-navigation > li.separator {
        display: none;
        border: 0;
    }
    #site-navigation > li.menu-item {
        width: 40%;
        flex-grow: 1;
        text-align: center;
    }
}
.timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  list-style: none;
}
.timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #000;
}
@media only screen and (min-width: 1170px) {
  .timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
.timeline li {
  position: relative;
  margin: 2em 0;
}
.timeline li .timeline-bubble {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #f58718;
  margin-left: -12px;
  margin-top: -12px;
}
.timeline li::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.timeline li:first-child {
  margin-top: 0;
}
.timeline li:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .timeline li {
    margin: 4em 0;
  }
  .timeline li:first-child {
    margin-top: 0;
  }
  .timeline li:last-child {
    margin-bottom: 0;
  }
}

.timeline li .timeline-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  max-width: 320px;
  margin-left: 60px;
  background: rgba(245,135,24,0.05);
  border: 1px solid #f58718;
  border-top: 3px solid #f58718;
  padding: 1em;
}
.timeline li:nth-child(2n) .timeline-content {
  margin-left: -420px;
}
.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-content .date, .timeline-content .heading {
  float: left;
  padding: .8em 0;
  opacity: .6;
}
.timeline-content .heading {
  opacity: 1;
  margin-left: 4px;
}
